<div class="row">
<div class="col-md-6 offset-md-1">
<h2>商品編集</h2>
<p id="notice"></p>
<%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>

<form>
  <%= f.label :商品画像, class: "mr-5" %>
  <%= f.file_field :image, accept: "image/*" %>

  <div class="form-group">
  <p id="notice"></p>
        <%= f.label :商品名, class: "mr-5" %>
        <%= f.text_field :name, class: "form-control title" %>
  <p id="notice"></p>
        <%= f.label :商品説明, class: "mr-5" %>
        <%= f.text_area :introduction, class: "form-control body" %>
  <p id="notice"></p>
        <%= f.label:ジャンル, class: "mr-5" %>
         <%= f.select :genre_id, Genre.all.map { |genre| [genre.name, genre.id] } %><br>
  <p id="notice"></p>
        <%= f.label :"税抜価格(円)" %>
        <%= f.text_field :price, class: "form-control body" %>
  </div>


  <td><%= f.label :is_active, "販売ステータス" %></td>
    <%= f.radio_button :is_active, :true ,{:checked => true} %>
    <%= f.label :is_active, "販売中" %>
    <%= f.radio_button :is_active, :false %>
    <%= f.label :is_active, "販売停止中" %>
  <p id="notice"></p>
  <%= f.submit ' 変更を保存 ' , class: "btn btn-success" %> <%# submit等はform-groupでは囲まない %>
</form>
<% end %>
</div>
</div>