<div class="col-md-9 offset-md-1"> <%#.offset-md-1 は .col-md-9 を 1 カラムぶん右に移動%>
  <h1 class="text-right">
    <%= link_to "＋", new_admin_item_path, class: "btn btn-light rounded-circle" %>
  </h1>
    <h2>商品一覧</h2>
      <p id="notice"></p>
      <table class="table">
        <tr class="table-secondary">
          <th>商品ID</th>
              <th>商品名</th>
                 <th>税抜価格</th>
              <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
          <% @items.each do |item| %>
            <tr class="table-borderless">
              <td><%= item.id %></td>
              <td><%= link_to item.name, admin_item_path(item) %></td>
              <td><%= item.price.to_s(:delimited) %></td>
              <td><%= item.genre.name %></td>
              <td>
                <% if item.is_active %><%# is_activeの情報を取得して在庫があるかチェック %>
                  <b class="text-success">
                    販売中</b><%# trueの時の表示 %>
                <% else %> <b class="text-secondary">
                    販売停止中</b><%# falseの時の表示 %>
                <% end %>
              </td>
            </tr>
            <% end %>
      </table>
</div>
<%= paginate @items %>


<!--<nav aria-label="Page navigation">-->
<!--  <ul class="pagination justify-content-center">-->
<!--    <li><a href="#">1</a></li>-->
<!--    <li><a href="#">2</a></li>-->
<!--    <li><a href="#">3</a></li>-->
<!--    <li><a href="#"> Next ></a></li>-->
<!--    <li><a href="#">Last ≫</a></li>-->
<!--  </ul>-->
<!--</nav>-->