      <div class="card" style="max-width: auto;">
        <div class="card-img-overlay">
          <h3 class="font-weight-bold text-secondary" style="text-align: center; margin-top: 300px; color:orange;">
            <span style="font-size:70px;">ようこそ、ながのCAKEへ！</span></br>
            </br>
            このサイトは、ケーキ販売のECサイトになります。</br>
            会員でない方も商品の閲覧はできますが</br>
            購入には会員登録が必要になります。
          </h3>
        </div>
      </div>
      <div class="justify-content-center">
      <%= image_tag 'cake.jpg', width: '100%', height: '100%' %>
      </div>


<div class="col-md-8 offset-md-2">
  <div class="top"style="margin-top: 30px;">

      <h2 class="border-bottom border-dark text-left">新着商品</h2>
      <div class="d-flex flex-wrap">
        <% @items.first(4).each do |item| %>
         <div class ="col-md-3">
           <ul class="list-inline">
                 <%= link_to public_items_path(item.id) do %>
                   <%= image_tag item.get_image,size: "180x180"%>
                 <% end %><br />
               <%= item.name %><br>
           ￥<%= (item.add_tax_price).to_s(:delimited) %><br><%#上手く設定が出来ていない可能性有%>
           </ui>
         </div>
        <% end %>
        </div>
       
        <div class="text-right mr-5 mt-5">
          <%= link_to '全ての商品を見る >', public_items_path ,class: "btn btn-outline-primary"%>
        </div>

    </div>
  </div>
</div>
