<p id="notice"></p>
<div class="row">
    <div class="jumbotron col-md-8 offset-md-2">
      
      <div class="card" style="max-width: 480px;">
        <div class="card-img-overlay">
          <p class="text-info font-weight-bold my-3">
            ようこそ、ながのCAKEへ！</br>
            このサイトは、ケーキ販売のECサイトになります。</br>
            会員でない方も商品の閲覧はできますが</br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
      <div class="justify-content-center">
      <%= image_tag 'cake.jpg', size: '960x540' %>
      </div>
      <%#　cssで↓の文の背景にする設定しないといけない%>
<div>
  <p>
    
  </p>
</div>


<h2>新着商品</h2>
<div class="d-flex flex-wrap">
  <% @items.first(4).each do |item| %>
   <div class ="col-md-3">
     <ul class="list-inline">
           <%= link_to public_items_path(item.id) do %>
             <%= image_tag item.get_image,size: "180x180"%>
           <% end %><br />
         <%= item.name %><br>
     ￥<%= (item.add_tax_price).to_s(:delimited) %><br><%#上手く設定が出来ていない可能性有%>
     </ui>
   </div>
  <% end %>
  </div>
 
  <div class="text-right mr-5 mt-5">
    <%= link_to '全ての商品を見る >', public_items_path %>
  </div>



