<div class='container'>
  <div class='row'>
   <div class="col-md-2 bg-dark text-white"style="margin-top: 50px;">
          
          ジャンル機能<br/>建設予定地
          <br/>
          <br/>
          のちに追記します
        </div>
      <div class='col-md-4 'style="text-align: center;margin-top: 50px;">
        <%= image_tag @item.get_image, size: "350x350" %>
      </div>
      <div class="col-md-6 "style="margin-top: 50px;">
      
          <h3 class="font-weight-bold my-5"><%= @item.name %></h3>
          <p><%= @item.introduction %></p>
          <h3 class="font-weight-bold my-5">￥<%= @item.add_tax_price.to_s(:delimited) %><span style="font-size:15px;">(税込)</span></h3>
          
          <%# カート機能 %>  
          <%= form_with model: @cart_item,url: public_cart_items_path, method: :post do |f| %>
            <%# 会員であるか確認%>
            <% if customer_signed_in? %>
              <%# 商品情報の値を送る %>
              <%= f.hidden_field :item_id, :value =>@item.id %>
              <div class="cart_item" style="text-align: right;">
                <%# 個数入力フォーム %>
                <span style="font-size:20px;">
                  <%= f.select :amount, *[1..10] %>　
                </span>
                <%= f.submit "カートに入れる", class:"btn btn-outline-success btn-lg" %>
              </div>
            <% else %>
              <div class="button" style="text-align: right;">
                <button type="submit" class="btn btn-outline-success btn-lg　disabled">ログインしてください</button>
              </div>
            <% end %>
          <% end %>
          
          
          
          
      </div>
    </div>
  </div>